# Backend URL (sin slash final)
# URL donde corre el backend
# En dev: localhost
# En prod: dominio real

VITE_API_URL=http://localhost:8000/api/v1

# Nombre de la app (solo UI)
VITE_APP_NAME="Inventario SaaS"

# Entorno (solo UI/config ligera)
# development | staging | production
VITE_APP_ENV=development